{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'image/todo.ico' %}" type="image/x-icon">
    <title>404 - 页面未找到</title>
    <script>
        // 3 秒后跳转到首页
        setTimeout(function() {
            window.location.href = "{% url 'welcome:login' %}";
        }, 3000); 
    </script>
</head>
<body>
    <h1>404 - 页面未找到</h1>
    <p>你访问的页面不存在，将在 3 秒后自动返回登入界面。</p>
    <a href="{% url 'welcome:login' %}">立即返回首页</a>
</body>
</html>